# Nyarch Hyprland — GRUB configuration
# This grub.cfg is for the ISO boot, not the installed system.
# It is used by the archiso build process.

insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod all_video

set gfxmode=auto
set gfxpayload=keep
loadfont /usr/share/grub/unicode.pf2

insmod gfxterm
insmod gfxmenu
terminal_input gfxterm
terminal_output gfxterm

# Nyarch Hyprland GRUB theme
# To be added: GRUB_THEME

set timeout=5
set default="0"

menuentry "Nyarch Hyprland (UEFI)" {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ISO_LABEL% loglevel=3 quiet splash
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "Nyarch Hyprland (UEFI — nomodeset)" {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ISO_LABEL% nomodeset loglevel=3 quiet splash
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "UEFI Shell" {
    insmod fat
    chainloader /EFI/shell.efi
}
