# Nyarch Hyprland — GRUB loopback config for ISO booting via loopback.cfg
menuentry "Nyarch Hyprland" {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ISO_LABEL% loglevel=3 quiet splash
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}
